  * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: always !important;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.ui.btn {
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.ui.btn.normal {
  padding: 4% 6%;
  background: #7dcfc6;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #f2f2f2;
  font-size: 12.5px;
}
.ui.btn.normal:hover, .ui.btn.normal:focus {
  outline: none;
  background: #006e63;
}

.header {
        
  width: 100%;
  height: 70px;
  background: #202734;
  border-bottom: 1px solid #8e9299;
  line-height: 80px !important;
}
.header .inner {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.header .user-ui {
  position: absolute;
  right: 0;
  display: inline-block;
}
.header .user-ui .user-menu-toggle {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.header .user-ui .user-menu-toggle .profile-img {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
}
.header .user-ui .user-menu-toggle .simple-arrow {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  font-size: 12px;
  color: #f2f2f2;
}
.header{
      position: fixed; /*Cho menu cố định 1 vị trí với top và left*/

                z-index: 100000; /*Hiển thị lớp trên cùng*/
}
.header .user-ui .sign-out-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #f2f2f2;
  margin-left: 20px;
}
.header .user-ui .sign-out-icon:hover {
  color: #7dcfc6;
}
.header .user-ui .user-menu {
  width: 282px;
  background: #f9f9f9;
  position: absolute;
  right: 0%;
    top: 88%;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.header .user-ui .user-menu::after {
  display: block;
  right: 0;
  content: " ";
  height: 0;
  top: -10px;
  width: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f9f9f9;
}
.header .user-ui .user-menu::before {
  display: block;
  right: -1px;
  content: " ";
  height: 0;
  top: -11px;
  width: 0;
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #f2f2f2;
}
.header .user-ui .user-menu .user-info {
  border-bottom: 1px solid #f2f2f2;
  padding: 0px 10px;
  position: relative;
}
.header .user-ui .user-menu .user-info .profile-img {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
}
.header .user-ui .user-menu .user-info h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #8e9299;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  padding-left: 20px;
}
.header .user-ui .user-menu .user-info .btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .user-ui .user-menu .invites-info {
  border: 1px solid #f2f2f2;
  padding: 10px;
  height: 110px;
  display: block;
}
.header .user-ui .user-menu .invites-info .next-invite-bar {
  height: 20px;
  background: #ddd;
  border: 1px solid #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
.header .user-ui .user-menu .invites-info .next-invite-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 0px 0px 20px;
  background: #7dcfc6;
  height: 100%;
}
.header .user-ui .user-menu .invites-info span {
  margin: 0;
  padding: 5px 0;
  color: #ddd;
  font-size: 12.5px;
  line-height: normal !important;
  display: block;
}
.header .user-ui .user-menu .invites-info p {
  font-size: 14px;
  line-height: normal;
  color: #8e9299;
  float: left;
  margin: 18px 0;
}
.header .user-ui .user-menu .invites-info .btn {
  float: right;
  font-size: 12px;
  margin: 5px 0;
}
.header .user-ui .user-menu .menu-nav {
  list-style-type: none;
}
.header .user-ui .user-menu .menu-nav li {
  padding: 15px 10px;
  line-height: normal;
  color: #8e9299;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
.header .user-ui .user-menu .menu-nav li span {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
.header .user-ui .user-menu .menu-nav li:hover {
  background: #f2f2f2;
  color: #7dcfc6;
}
