


	

	.media-container {
		position: relative;
		display: inline-block;
		left: 150px;
		border-radius: 50%;
		overflow: hidden;
		width: 200px;
		height: 200px;
                margin-top: 10px;
		vertical-align: middle
	}
		.media-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(180, 180, 180, 0.6);
		}
			#media-input {
				display: block;
				width: 200px;
				height: 200px;
				line-height: 200px;
				opacity: 0;
				position: relative;
				z-index: 9;
			}
			.media-icon {
				display: block;
				color: #ffffff;
				font-size: 2em;
				height: 200px;
				line-height: 200px;
				position: absolute;
				z-index: 0;
				width: 100%;
				text-align: center;
			}
		.media-object {}
			.img-object {
				    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: -40px;
    margin-top: -16px;
			}

	.media-control {
		margin-top: 30px;
                    margin-left: 204px;
	}
		.edit-profile {}
		.save-profile {}
    .textarea-replace {
        margin-top: 34px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        min-height: 80px;
        font-size: 14px;
        color: #414141;
        border: 1px solid #d2d2d2;
        border-radius: 5px;
        &:before {
            content: attr(placeholder);
            display: block; /* For Firefox */
        }
        &:focus {
            outline: none;
            &:before {
                display: none;
                content: '';
            }
        }
    }
    img{
        max-width:179%;
    }
    input[type=file]{
        width: 100%;
        padding:10px;
        background:#2d2d2d;}




























   body {
  background-size: cover;
  color: #b5b5b5;
  font-family: sans-serif;
}

h2 {
  color: #a4bc4f;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding: 30px 0px 20px 25px
}

a {
  color: #46485c;
  text-decoration: none;
}

.prototype {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 43%;
  margin: -184px 0px 0px -150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 0px 9999px rgba(0,0,0,0.6);
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: bounceInDown;
  border-radius: 3px;
  margin-bottom: 40px;
}

.user, .pw{
  border-left: 5px solid transparent;
  transition: all 0.3s linear;
}

.user:hover, .pw:hover{
  background: #F0F0F0;
    border-left: 5px solid #8FB252;
    
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    outline: none;
    color: #222;
    margin: 0 auto;
    text-indent: inherit;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    font-size: 42px;
}

input[type=checkbox] {
  display: none;
}

label {
  display: block;
  position: absolute;
  margin-top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  content: "";
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px #ccc;
}

#remember:checked ~ label[for=remember] {
  background: #b5cd60;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px #b5cd60;
}


input[type="submit"] {
  background: #b5cd60;
  border: 0;
  height: 30px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 0px 25px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
      margin-top: 10px;
    margin-left: 403px;
    margin-bottom: -8px;
}
input[type="submit"]:hover {
  background: #a4bc4f;
}

.forgot {
  margin-top: 25px;
  display: block;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  color: #b5b5b5;
  padding: 0px 0px 25px 25px;
}


::-webkit-input-placeholder {
  color: #777;
  font-weight: bold;
}

.remlog{
  border-bottom: 1px solid #ddd;
}

.remember {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 20px;
  line-height: 15px;
  margin-left: 25px;
  display: inline-block;
}

.forgot h3{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.forgot a{
  color: #777;
}

.close{
  width: 32px;
  height: 32px;
  display: block;
  border: 0;
  border-radius: 0px 3px 0px 0px;
  position: absolute;
  right: 0px;
  padding: 0px;
  background: #fff;
  cursor: pointer;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.close:after{
  content:'';
  display: block;
  position: absolute;
  width: 3px;
  height: 16px;
  transform: rotate(45deg);
  background: #ccc;
  margin: -8px 0px 0px 14px
}
.close:before{
  content:'';
  display: block;
  position: absolute;
  width: 3px;
  height: 16px;
  transform: rotate(-45deg);
  background: #ccc;
  margin: -8px 0px 0px 14px
}

.close:hover:before,.close:hover:after{
  background: #777;
  transition: all 0.2s linear;
}



@keyframes bounceInDown{
0% {opacity: 0;	transform: translateY(-2000px);}
60% {opacity: 1;transform: translateY(30px);}
80% {transform: translateY(-10px);}
100% {transform: translateY(0);}


















